<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /landholding/

    # Redirect asset requests
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(assets/.*)$ $1 [L]

    # Other rewrite rules
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteRule ^(.*)$ index.php/$1 [L]
</IfModule>